---
// export const prerender = false;
import Layout from "../../layout/Layout.astro";

/* GET LANG */
import { getI18N } from "../../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

/* Slider */
import Slider from "../Slider.astro";

/* GET OPTIONS */
const getOptions = await fetch(import.meta.env.API_OPTIONS);
const OPTIONS = await getOptions.json();
const INTRO = OPTIONS['acf']['intro_'+currentLocale];

const getCases = await fetch(import.meta.env.API_CASES);
const CASES = await getCases.json();

---

<Layout title="Andrés González" claim={i18n.ROLE} description={i18n.METADESC} >
  <section id="profile" class="section mt-15 mb-10 xg:my-0">
    <div class="container row h-full items-center xg:pt-10">
      <div class="col-[1/13]">
        <div class="flex">
          <p class="text-h1">
            <span class="text-body mr-5 xg:mr-[20rem]">
              {i18n.PROFILE}
            </span>
            {INTRO}
          </p>
        </div>
      </div>
    </div>
  </section>

  <div id="works" >
  {
    CASES.map((caso) => (
      <section class="section">
        <div class="container row">
          <div class="col-[1/13]">
            <Slider {caso} />
          </div>
        </div>
      </section>
    ))
  }
  </div>  
</Layout>
