---
import SlideInfo from "../components/SlideInfo.astro";
import "swiper/css";
import Picture from "../components/Picture.astro";
import Video from "../components/Video.astro";
const { caso } = Astro.props;
const { currentLocale } = Astro;

const TITLE = caso['fields'][`title_${currentLocale}`];
const SUBTITLE = caso['fields'][`subtitle_${currentLocale}`];
const DESC = caso['fields'][`description_${currentLocale}`];
const ATTACHMENTS = caso['fields']['media_files'];

---

<style>

  [class*="swiper-button"] {
    @apply absolute h-full top-0 left-0 w-15% z-50;
    cursor: url(/img/icons/arrow-left.svg), auto;
  }

  .swiper-button-next{
    left: inherit;
    right: 0;
    cursor: url(/img/icons/arrow-right.svg), auto;
  }

</style>

<!-- Slider main container -->
<div class="swiper">
  <div class="swiper-wrapper">
    {
      ATTACHMENTS.map((media, index) => (

        <div class="swiper-slide">

          { index === 0 && (
            <SlideInfo
              title={TITLE}
              subtitle={SUBTITLE}
              desc={DESC}
            />
          ) }

          { media.type.includes("image") && <Picture url={media.url} style="w-full h-[66vh] xg:h-[100vh] object-cover" /> }

          { media.type.includes("video") && <Video url={media.url} style="w-full h-[66vh] xg:h-[100vh] object-cover" /> }

        </div>
      ))
    }
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

<script>
  import Swiper from "swiper";
  import { Navigation } from 'swiper/modules';

  function swiperSlider() {
    const SwiperSlider = new Swiper(".swiper", {
      modules: [Navigation],
      slidesPerView: 1,
      spaceBetween: 20,
      loop: true,
      speed: 750,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  }

  swiperSlider();
  document.addEventListener("astro:after-swap", swiperSlider);
</script>
