---
import SlideInfo from "../components/SlideInfo.astro";
import "swiper/css";
import Picture from "../components/Picture.astro";
import Video from "../components/Video.astro";

const { caso } = Astro.props;
const { currentLocale } = Astro;

const ACF = caso.acf;

const TITLE = ACF[`titulo_${currentLocale}`];
const SUBTITLE = ACF[`subtitle_${currentLocale}`];
const DESC = ACF[`desc_${currentLocale}`];
const MEDIA = ACF['media'];

---

<style>

  [class*="swiper-button"] {
    @apply absolute h-full top-0 left-0 w-15% z-50;
    cursor: url(/img/icons/arrow-left.svg), auto;
  }

  .swiper-button-next{
    left: inherit;
    right: 0;
    cursor: url(/img/icons/arrow-right.svg), auto;
  }

  img,video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: theme("screens.xg") ) {
    .swiper{
      /* height: calc(100vh - 12rem); */
      height: calc(100vh - 10rem);
    }
  }

</style>

<!-- Slider main container -->
<div class="swiper">
  <div class="swiper-wrapper">
    {
      MEDIA.map((media, index) => (

        <div class="swiper-slide">

          { index === 0 && (
            <SlideInfo
              title={TITLE}
              subtitle={SUBTITLE}
              desc={DESC}
            />
          ) }

          { media.type.includes("image") && <Picture url={media.url} /> }

          { media.type.includes("video") && <Video url={media.url} controls="off" muted="on" /> }

        </div>
      ))
    }
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

<script>
  import Swiper from "swiper";
  import { Navigation } from 'swiper/modules';
  import videoPlayOnView from "../js/videoPlayOnView";

  function swiperSlider() {
    const SwiperSlider = new Swiper(".swiper", {
      modules: [Navigation],
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      speed: 750,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  }

  swiperSlider();
  videoPlayOnView();
  document.addEventListener("astro:after-swap", swiperSlider);
  document.addEventListener("astro:after-swap", videoPlayOnView);

</script>
